force-app/main/default/flows/Case_Escalation_Matrix_Small_Cell.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>L2_Alert</name>
        <label>L2 Alert</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <actionName>Case.Case_Level2_Escalation_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Level2_Escalation_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>L3_Alert</name>
        <label>L3 Alert</label>
        <locationX>314</locationX>
        <locationY>276</locationY>
        <actionName>Case.Case_Level3_Escalation_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Level3_Escalation_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>L4_Alert</name>
        <label>L4 Alert</label>
        <locationX>578</locationX>
        <locationY>276</locationY>
        <actionName>Case.Case_Level4_Escalation_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Level4_Escalation_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>L5_Alert</name>
        <label>L5 Alert</label>
        <locationX>842</locationX>
        <locationY>276</locationY>
        <actionName>Case.Case_Level5_Escalation_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Level5_Escalation_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>L6_Alert</name>
        <label>L6 Alert</label>
        <locationX>1106</locationX>
        <locationY>276</locationY>
        <actionName>Case.Case_Level6_Escalation_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Level6_Escalation_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <interviewLabel>Case-Escalation Matrix Small Cell {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case-Escalation Matrix Small Cell</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <filterLogic>(1 OR 2 OR 3 OR 4 OR 5) AND (6 OR 7 OR 8)</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Missing Details</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </filters>
        <filters>
            <field>Line_of_Business__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Small Cell</stringValue>
            </value>
        </filters>
        <filters>
            <field>Line_of_Business__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OHFC</stringValue>
            </value>
        </filters>
        <filters>
            <field>Line_of_Business__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>UG</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X1_hours_Case_Creation</name>
            <connector>
                <targetReference>L2_Alert</targetReference>
            </connector>
            <label>1 Hours After Case Creation</label>
            <offsetNumber>60</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X2_Hours_After_Case_Creation</name>
            <connector>
                <targetReference>L3_Alert</targetReference>
            </connector>
            <label>2 Hours After Case Creation</label>
            <offsetNumber>120</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X4_Hours_After_Case_Creation</name>
            <connector>
                <targetReference>L4_Alert</targetReference>
            </connector>
            <label>4 Hours After Case Creation</label>
            <offsetNumber>240</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X6_Hours_After_Case_Creation</name>
            <connector>
                <targetReference>L5_Alert</targetReference>
            </connector>
            <label>6 Hours After Case Creation</label>
            <offsetNumber>360</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X8_Hours_After_Case_Creation</name>
            <connector>
                <targetReference>L6_Alert</targetReference>
            </connector>
            <label>8 Hours After Case Creation</label>
            <offsetNumber>480</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
