force-app/main/default/flows/Case_Updation_MappingFields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Case_On_Hold_Alert</name>
        <label>Case On-Hold Alert</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <actionName>Case.Case_On_Hold</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>On_Hold_to_Field_Engineer</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_On_Hold</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>case_resolved</name>
        <label>case resolved</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <actionName>Case.Case_Resolved</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Case_Resolved_to_Field_Engineer</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Resolved</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Case_Resolved_to_Field_Engineer</name>
        <label>Case Resolved to Field Engineer</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <actionName>Case.CaseResolvedToFieldEngineer</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.CaseResolvedToFieldEngineer</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_case_resolved</name>
        <label>Copy 1 of case resolved</label>
        <locationX>314</locationX>
        <locationY>1247</locationY>
        <actionName>Case.Case_Resolved</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Resolved</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Copy_1_of_Notify_FE_on_Update</name>
        <label>Copy 1 of Copy 1 of Notify FE on Update</label>
        <locationX>3218</locationX>
        <locationY>1187</locationY>
        <actionName>Case.Case_Field_Engineer_Alert_On_Update</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Field_Engineer_Alert_On_Update</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Copy_5_of_Notify_FE_on_Update</name>
        <label>Copy 1 of Copy 5 of Notify FE on Update</label>
        <locationX>7178</locationX>
        <locationY>863</locationY>
        <actionName>Case.Case_Field_Engineer_Alert_On_Update</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Field_Engineer_Alert_On_Update</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Notify_FE</name>
        <label>Copy 1 of Notify FE</label>
        <locationX>2162</locationX>
        <locationY>431</locationY>
        <actionName>Case.Case_Field_Engineer_Alert_On_Update</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Field_Engineer_Alert_On_Update</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Notify_FE_on_Update</name>
        <label>Copy 1 of Notify FE on Update</label>
        <locationX>2954</locationX>
        <locationY>971</locationY>
        <actionName>Case.Case_Field_Engineer_Alert_On_Update</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Get_GPON_Escalation_Details</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Field_Engineer_Alert_On_Update</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_Notify_FE_on_Update</name>
        <label>Copy 2 of Notify FE on Update</label>
        <locationX>2690</locationX>
        <locationY>863</locationY>
        <actionName>Case.Case_Field_Engineer_Alert_On_Update</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Field_Engineer_Alert_On_Update</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_3_of_Notify_FE_on_Update</name>
        <label>Copy 3 of Notify FE on Update</label>
        <locationX>2426</locationX>
        <locationY>863</locationY>
        <actionName>Case.Case_Field_Engineer_Alert_On_Update</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Field_Engineer_Alert_On_Update</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_4_of_Notify_FE_on_Update</name>
        <label>Copy 4 of Notify FE on Update</label>
        <locationX>5066</locationX>
        <locationY>863</locationY>
        <actionName>Case.Case_Field_Engineer_Alert_On_Update</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Field_Engineer_Alert_On_Update</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_5_of_Notify_FE_on_Update</name>
        <label>Copy 5 of Notify FE on Update</label>
        <locationX>6122</locationX>
        <locationY>863</locationY>
        <actionName>Case.Case_Field_Engineer_Alert_On_Update</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Field_Engineer_Alert_On_Update</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notify_FE</name>
        <label>Notify FE</label>
        <locationX>8234</locationX>
        <locationY>539</locationY>
        <actionName>Case.Case_Field_Engineer_Alert_On_Update</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Field_Engineer_Alert_On_Update</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notify_FE_on_Update</name>
        <label>Notify FE on Update</label>
        <locationX>4010</locationX>
        <locationY>863</locationY>
        <actionName>Case.Case_Field_Engineer_Alert_On_Update</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Get_Circuit_Escalation_Details</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Field_Engineer_Alert_On_Update</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>notify_O_M_Team</name>
        <label>notify O &amp; M Team</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>Case.Notify_O_M_To_Update_GIS</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Old_Status_Hold_now_Resolved</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Notify_O_M_To_Update_GIS</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>On_Hold_Resume_Customer_Alert</name>
        <label>On-Hold Resume Customer Alert</label>
        <locationX>1370</locationX>
        <locationY>755</locationY>
        <actionName>Case.Case_On_Hold_Resumed</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>On_Hold_Resumed_to_Field_Engineer</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_On_Hold_Resumed</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>On_Hold_Resumed_to_Field_Engineer</name>
        <label>On-Hold Resumed to Field Engineer</label>
        <locationX>1370</locationX>
        <locationY>863</locationY>
        <actionName>Case.Case_On_Hold_Resumed_To_Field_Engineer</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_On_Hold_Resumed_To_Field_Engineer</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>On_Hold_to_Field_Engineer</name>
        <label>On-Hold to Field Engineer</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <actionName>Case.CaseOn_HoldToFieldEngineer</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.CaseOn_HoldToFieldEngineer</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Case_status_change</name>
        <label>Case status change</label>
        <locationX>2855</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>IsRecordUpdated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Resolved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GIS_is_requred</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Resolved</label>
        </rules>
        <rules>
            <name>Case_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Case Closed</label>
        </rules>
        <rules>
            <name>On_Hold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_IsStopped</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>On Hold</label>
        </rules>
        <rules>
            <name>Rework</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rework</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Child_Case</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Rework</label>
        </rules>
        <rules>
            <name>In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Record</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>In Progress</label>
        </rules>
        <rules>
            <name>IS_SLA_Overdue_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RCA_Reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MilestoneStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open Violation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Is_SLA_Overdue_field</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>IS SLA Overdue?</label>
        </rules>
        <rules>
            <name>Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assigned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Notify_FE</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Type</name>
        <label>Case Type?</label>
        <locationX>4406</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Update_Case_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Issue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case</targetReference>
            </connector>
            <label>Issue</label>
        </rules>
        <rules>
            <name>Proactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Update_Case</targetReference>
            </connector>
            <label>Proactive</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verifies if GPON id has been updated on the case</description>
        <name>CheckGPONChange</name>
        <label>CheckGPONChange</label>
        <locationX>3350</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>UpdateStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Issue_Case_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GPON_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_UpdateFieldEngineer</targetReference>
            </connector>
            <label>Issue Case Updated</label>
        </rules>
        <rules>
            <name>Proactive_Case_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_UpdateFieldEngineer</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Proactive Case Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_Is_resolved_time_available</name>
        <label>Is resolved time available?</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_UpdateResolvedTime</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Date_Time_Resolved__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>case_resolved</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Case_Type</name>
        <label>Case Type?</label>
        <locationX>5462</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Issue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Case</targetReference>
            </connector>
            <label>Issue</label>
        </rules>
        <rules>
            <name>Copy_1_of_Proactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Update_Case</targetReference>
            </connector>
            <label>Proactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Copy_2_of_Case_Type</name>
        <label>Copy 1 of Copy 2 of Case Type?</label>
        <locationX>7574</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Copy_2_of_Issue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_Update_Case</targetReference>
            </connector>
            <label>Copy 1 of Copy 2 of Issue</label>
        </rules>
        <rules>
            <name>Copy_1_of_Copy_2_of_Proactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_6_of_Update_Case</targetReference>
            </connector>
            <label>Copy 1 of Copy 2 of Proactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Copy_2_of_DownTime_UPTime_Available</name>
        <label>Copy 1 of Copy 2 of DownTime_UPTime Available?</label>
        <locationX>7574</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Copy_2_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ScheduleDownTime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ScheduleUpTime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_2_of_Copy_1_of_Update_Child_Case_FE</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Copy 1 of Copy 2 of Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_DownTime_UPTime_Available</name>
        <label>Copy 1 of DownTime_UPTime Available?</label>
        <locationX>5462</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ScheduleDownTime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ScheduleUpTime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Update_Child_Case_FE</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Copy 1 of Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Case_Type</name>
        <label>Case Type?</label>
        <locationX>6518</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Issue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Update_Case</targetReference>
            </connector>
            <label>Issue</label>
        </rules>
        <rules>
            <name>Copy_2_of_Proactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Update_Case</targetReference>
            </connector>
            <label>Proactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_DownTime_UPTime_Available</name>
        <label>Copy 2 of DownTime_UPTime Available?</label>
        <locationX>6518</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ScheduleDownTime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ScheduleUpTime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Copy_1_of_Update_Child_Case_FE</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Copy 2 of Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>DownTime_UpTime_Available</name>
        <label>DownTime_UpTime Available ?</label>
        <locationX>3350</locationX>
        <locationY>971</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Available</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ScheduleDownTime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ScheduleUpTime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Records</targetReference>
            </connector>
            <label>Available?</label>
        </rules>
    </decisions>
    <decisions>
        <name>DownTime_UPTime_Available1</name>
        <label>DownTime_UPTime Available?</label>
        <locationX>4406</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ScheduleDownTime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ScheduleUpTime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Child_Case_FE</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>GIS_is_requred</name>
        <label>GIS is requred?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Is_Old_Status_Hold_now_Resolved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GIS_Updation_Required__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Line_of_Business__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Small Cell</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>notify_O_M_Team</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_last_status_On_hold</name>
        <label>Is last status On-hold?</label>
        <locationX>1502</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Date_Time_OnHold_Start__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_Time_OnHold_End__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Copy_1_Update_Case_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Old_Status_Hold_now_Resolved</name>
        <label>Is Old Status Hold (now Resolved)</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Copy_1_Is_resolved_time_available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OldHoldYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Date_Time_OnHold_Start__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_Time_OnHold_End__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Case_Hold_End</targetReference>
            </connector>
            <label>OldHoldYes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_SiteID_OR_SiteName</name>
        <label>Is SiteID  OR SiteName?</label>
        <locationX>2558</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Get_details_on_Site_Name_change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Site Name</defaultConnectorLabel>
        <rules>
            <name>Site_ID</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Site_ID__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SiteZ__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CellId__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_details_on_SiteID_change</targetReference>
            </connector>
            <label>Site ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsRecordUpdated</name>
        <label>IsRecordUpdated?</label>
        <locationX>5528</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Site_Updated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Site__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Site_ID__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CellId__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_SiteID_OR_SiteName</targetReference>
            </connector>
            <label>Site Updated?</label>
        </rules>
        <rules>
            <name>GPON_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GPON_Id__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_details_from_GPON</targetReference>
            </connector>
            <label>GPON Updated?</label>
        </rules>
        <rules>
            <name>Circuit_Updated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Circuit_ID__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Details_from_Circuit</targetReference>
            </connector>
            <label>Circuit Updated?</label>
        </rules>
        <rules>
            <name>Link_Name_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PathName__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_Details_from_Circuit</targetReference>
            </connector>
            <label>Link Name Updated?</label>
        </rules>
        <rules>
            <name>Customer_Circuit_ID_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CustomerCircuitId__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Get_Details_from_Circuit</targetReference>
            </connector>
            <label>Customer Circuit ID Changed?</label>
        </rules>
        <rules>
            <name>Route_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RouteName__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Details_from_Circuit_By_Route_Name</targetReference>
            </connector>
            <label>Route Name</label>
        </rules>
        <rules>
            <name>Field_Engineer_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FieldEngineerUser__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_FE</targetReference>
            </connector>
            <label>Field Engineer Changed?</label>
        </rules>
    </decisions>
    <description>This Flow is triggered when a Case is updated. This flow maps all the required fields when status is changed or Site/Circuit/GPON is changed and sends an email notification. V9 - removed on Resolved path - Violation path is removed as it is not used
From V12-V13 - Removed FieldEngineerEmail and FieldEngineer (unwanted) mapping and added RouteName (in Circuit Updated ? path)
From V13-V14 - Mapped Assigned time instead of inprogress time in Circuit Updated --- Proactive Path and Status to Assigned</description>
    <environments>Default</environments>
    <formulas>
        <description>contact Field Engineer&apos;s First name &amp; Last  name  as Related field&apos;s full name is not working</description>
        <name>FE_FullName</name>
        <dataType>String</dataType>
        <expression>{!Get_details_on_SiteID_change.Field_Engineer__r.FirstName}&amp; &quot; &quot; &amp;{!Get_details_on_SiteID_change.Field_Engineer__r.LastName}</expression>
    </formulas>
    <formulas>
        <name>FE_FullName2</name>
        <dataType>String</dataType>
        <expression>{!Get_details_on_Site_Name_change.Field_Engineer__r.FirstName}&amp;&quot; &quot;&amp;{!Get_details_on_Site_Name_change.Field_Engineer__r.LastName}</expression>
    </formulas>
    <formulas>
        <name>FE_FullName3</name>
        <dataType>String</dataType>
        <expression>{!Get_details_from_GPON.FieldEngineer__r.FirstName}&amp;&quot; &quot;&amp;{!Get_details_from_GPON.FieldEngineer__r.LastName}</expression>
    </formulas>
    <formulas>
        <name>FE_FullName5</name>
        <dataType>String</dataType>
        <expression>{!Copy_1_of_Get_Details_from_Circuit.FieldEngineer__r.FirstName}&amp;&quot; &quot;&amp;{!Copy_1_of_Get_Details_from_Circuit.FieldEngineer__r.LastName}</expression>
    </formulas>
    <formulas>
        <name>FE_FullName6</name>
        <dataType>String</dataType>
        <expression>{!Copy_2_of_Get_Details_from_Circuit.FieldEngineer__r.FirstName}&amp;&quot; &quot;&amp;{!Copy_2_of_Get_Details_from_Circuit.FieldEngineer__r.LastName}</expression>
    </formulas>
    <formulas>
        <name>FE_FullName7</name>
        <dataType>String</dataType>
        <expression>{!Get_Details_from_Circuit_By_Route_Name.FieldEngineer__r.FirstName}&amp;&quot; &quot;&amp;{!Get_Details_from_Circuit_By_Route_Name.FieldEngineer__r.LastName}</expression>
    </formulas>
    <formulas>
        <name>FF_FullName4</name>
        <dataType>String</dataType>
        <expression>{!Get_Details_from_Circuit.FieldEngineer__r.FirstName}&amp;&quot; &quot;&amp;{!Get_Details_from_Circuit.FieldEngineer__r.LastName}</expression>
    </formulas>
    <formulas>
        <name>TotalHoldMinutesFormula</name>
        <dataType>Number</dataType>
        <expression>{!$Record.TotalHoldMinutes__c}+(({!$Record.Date_Time_OnHold_End__c}-{!$Record.Date_Time_OnHold_Start__c})*24*60)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Case_Updation_MappingFields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case_Updation_MappingFields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Child_Case</name>
        <label>Create Child Case</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Update_Case_Record1</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Type__c</field>
            <value>
                <stringValue>Proactive</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Circuit_ID__c</field>
            <value>
                <elementReference>$Record.Circuit_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerCircuitId__c</field>
            <value>
                <elementReference>$Record.CustomerCircuitId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldEngineerUser__c</field>
            <value>
                <elementReference>$Record.FieldEngineerUser__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldEngineer__c</field>
            <value>
                <elementReference>$Record.FieldEngineer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GPON_Id__c</field>
            <value>
                <elementReference>$Record.GPON_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Line_of_Business__c</field>
            <value>
                <elementReference>$Record.Line_of_Business__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NOCContactEmail__c</field>
            <value>
                <elementReference>$Record.NOCContactEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OMContactEmail__c</field>
            <value>
                <elementReference>$Record.OMContactEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>$Record.Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PathName__c</field>
            <value>
                <elementReference>$Record.PathName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rework_Comments__c</field>
            <value>
                <elementReference>$Record.Rework_Comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RouteName__c</field>
            <value>
                <elementReference>$Record.RouteName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteAddress__c</field>
            <value>
                <elementReference>$Record.SiteAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_ID__c</field>
            <value>
                <elementReference>$Record.Site_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site__c</field>
            <value>
                <elementReference>$Record.Site__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedName</field>
            <value>
                <elementReference>$Record.SuppliedName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ZSiteAddress__c</field>
            <value>
                <elementReference>$Record.ZSiteAddress__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>to fetch details based on Circuit ID or Route Name/Link Name.</description>
        <name>Copy_1_of_Get_Details_from_Circuit</name>
        <label>Copy 1 of Get Details from Circuit</label>
        <locationX>5462</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Case_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PathName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Circuit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>to fetch details based on Circuit ID or Route Name/Link Name.</description>
        <name>Copy_2_of_Get_Details_from_Circuit</name>
        <label>Copy 2 of Get Details from Circuit</label>
        <locationX>6518</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Case_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CustomerCircuitId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CustomerCircuitId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Circuit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Circuit_Escalation_Details</name>
        <label>Get Circuit Escalation Details</label>
        <locationX>4010</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case_Escalation_details_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Circuit_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Circuit_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case_Escalation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>to fetch details based on Circuit ID or Route Name/Link Name.</description>
        <name>Get_Details_from_Circuit</name>
        <label>Get Details from Circuit</label>
        <locationX>4406</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CircuitId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Circuit_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Circuit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>to fetch details based on Circuit ID or Route Name/Link Name.</description>
        <name>Get_Details_from_Circuit_By_Route_Name</name>
        <label>Get Details from Circuit By Route Name</label>
        <locationX>7574</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Copy_2_of_Case_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RouteName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RouteName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Circuit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_details_from_Fat</name>
        <label>Get details from Fat</label>
        <locationX>3350</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckGPONChange</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GPONId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.GPON_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FAT__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_details_from_GPON</name>
        <label>Get details from GPON</label>
        <locationX>3350</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_details_from_Fat</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GPONId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.GPON_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GPON__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_details_on_Site_Name_change</name>
        <label>Get details on Site Name change</label>
        <locationX>2690</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Update_SiteDetail_FieldEngineer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Site__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sitetracker__Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_details_on_SiteID_change</name>
        <label>Get details on SiteID change</label>
        <locationX>2426</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_SiteDetail_FieldEngineer</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>CellID__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.CellId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sitetracker__Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_GPON_Escalation_Details</name>
        <label>Get GPON Escalation Details</label>
        <locationX>2954</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case_Escalation_details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GPON_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.GPON_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case_Escalation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update the Case record with CircuitID , Route Name / Link Name and Field Engineer</description>
        <name>Copy_1_of_Copy_1_of_Update_Case</name>
        <label>Copy 1 of Copy 1 of Update Case</label>
        <locationX>5462</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Copy_1_of_DownTime_UPTime_Available</targetReference>
        </connector>
        <inputAssignments>
            <field>CECircle__c</field>
            <value>
                <elementReference>Copy_1_of_Get_Details_from_Circuit.Circle__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Circuit_ID__c</field>
            <value>
                <elementReference>Copy_1_of_Get_Details_from_Circuit.CircuitId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerCircuitId__c</field>
            <value>
                <elementReference>Copy_1_of_Get_Details_from_Circuit.CustomerCircuitId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Time_In_Progress__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldEngineerEmail__c</field>
            <value>
                <elementReference>Copy_1_of_Get_Details_from_Circuit.FieldEngineer__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldEngineerUser__c</field>
            <value>
                <elementReference>Copy_1_of_Get_Details_from_Circuit.FieldEngineer__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldEngineer__c</field>
            <value>
                <elementReference>FE_FullName5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NOCContactEmail__c</field>
            <value>
                <elementReference>Copy_1_of_Get_Details_from_Circuit.NOCContactEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OMContactEmail__c</field>
            <value>
                <elementReference>Copy_1_of_Get_Details_from_Circuit.OMContactEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PathName__c</field>
            <value>
                <elementReference>Copy_1_of_Get_Details_from_Circuit.LinkName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RouteName__c</field>
            <value>
                <elementReference>Copy_1_of_Get_Details_from_Circuit.RouteName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteAddress__c</field>
            <value>
                <elementReference>Copy_1_of_Get_Details_from_Circuit.SiteAAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteLatitude__c</field>
            <value>
                <elementReference>Copy_1_of_Get_Details_from_Circuit.SiteALatitude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteLongitude__c</field>
            <value>
                <elementReference>Copy_1_of_Get_Details_from_Circuit.SiteALongitude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteZLatitude__c</field>
            <value>
                <elementReference>Copy_1_of_Get_Details_from_Circuit.SiteZLatitude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteZLongitude__c</field>
            <value>
                <elementReference>Copy_1_of_Get_Details_from_Circuit.SiteZLongitude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ZSiteAddress__c</field>
            <value>
                <elementReference>Copy_1_of_Get_Details_from_Circuit.SiteZAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Copy_1_of_Update_Child_Case_FE</name>
        <label>Copy 1 of Copy 1 of Update Child Case FE</label>
        <locationX>5330</locationX>
        <locationY>971</locationY>
        <inputAssignments>
            <field>FieldEngineerEmail__c</field>
            <value>
                <elementReference>$Record.FieldEngineerEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldEngineer__c</field>
            <value>
                <elementReference>$Record.FieldEngineer__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Cases</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Copy_1_of_UpdateFieldEngineer</name>
        <label>Copy 1 of Copy 1 of UpdateFieldEngineer</label>
        <locationX>3350</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>DownTime_UpTime_Available</targetReference>
        </connector>
        <inputAssignments>
            <field>CECircle__c</field>
            <value>
                <elementReference>Get_details_from_GPON.Circles__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Time_In_Progress__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FATNumber__c</field>
            <value>
                <elementReference>Get_details_from_Fat.FATNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldEngineerEmail__c</field>
            <value>
                <elementReference>Get_details_from_GPON.FieldEngineer__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldEngineerUser__c</field>
            <value>
                <elementReference>Get_details_from_GPON.FieldEngineer__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldEngineer__c</field>
            <value>
                <elementReference>FE_FullName3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GPON_Id__c</field>
            <value>
                <elementReference>Get_details_from_GPON.GPONId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NOCContactEmail__c</field>
            <value>
                <elementReference>Get_details_from_GPON.NOCContactEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OMContactEmail__c</field>
            <value>
                <elementReference>Get_details_from_GPON.OMContactEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RSU__c</field>
            <value>
                <elementReference>Get_details_from_GPON.RSU__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteLatitude__c</field>
            <value>
                <elementReference>Get_details_from_GPON.Latitude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteLongitude__c</field>
            <value>
                <elementReference>Get_details_from_GPON.Longitude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Copy_2_of_Copy_1_of_Update_Child_Case_FE</name>
        <label>Copy 1 of Copy 2 of Copy 1 of Update Child Case FE</label>
        <locationX>7442</locationX>
        <locationY>971</locationY>
        <inputAssignments>
            <field>FieldEngineerEmail__c</field>
            <value>
                <elementReference>$Record.FieldEngineerEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldEngineer__c</field>
            <value>
                <elementReference>$Record.FieldEngineer__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Cases</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update the Case record with CircuitID , Route Name / Link Name and Field Engineer</description>
        <name>Copy_1_of_Update_Case</name>
        <label>Copy 1 of Update Case</label>
        <locationX>5066</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Copy_4_of_Notify_FE_on_Update</targetReference>
        </connector>
        <inputAssignments>
            <field>CECircle__c</field>
            <value>
                <elementReference>Copy_1_of_Get_Details_from_Circuit.Circle__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Circuit_ID__c</field>
            <value>
                <elementReference>Copy_1_of_Get_Details_from_Circuit.CircuitId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerCircuitId__c</field>
            <value>
                <elementReference>Copy_1_of_Get_Details_from_Circuit.CustomerCircuitId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Time_In_Progress__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldEngineerEmail__c</field>
            <value>
                <elementReference>Copy_1_of_Get_Details_from_Circuit.FieldEngineer__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldEngineerUser__c</field>
            <value>
                <elementReference>Copy_1_of_Get_Details_from_Circuit.FieldEngineer__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldEngineer__c</field>
            <value>
                <elementReference>FE_FullName5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NOCContactEmail__c</field>
            <value>
                <elementReference>Copy_1_of_Get_Details_from_Circuit.NOCContactEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OMContactEmail__c</field>
            <value>
                <elementReference>Copy_1_of_Get_Details_from_Circuit.OMContactEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PathName__c</field>
            <value>
                <elementReference>Copy_1_of_Get_Details_from_Circuit.LinkName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RouteName__c</field>
            <value>
                <elementReference>Copy_1_of_Get_Details_from_Circuit.RouteName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteAddress__c</field>
            <value>
                <elementReference>Copy_1_of_Get_Details_from_Circuit.SiteAAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteLatitude__c</field>
            <value>
                <elementReference>Copy_1_of_Get_Details_from_Circuit.SiteALatitude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteLongitude__c</field>
            <value>
                <elementReference>Copy_1_of_Get_Details_from_Circuit.SiteALongitude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteZLatitude__c</field>
            <value>
                <elementReference>Copy_1_of_Get_Details_from_Circuit.SiteZLatitude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteZLongitude__c</field>
            <value>
                <elementReference>Copy_1_of_Get_Details_from_Circuit.SiteZLongitude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ZSiteAddress__c</field>
            <value>
                <elementReference>Copy_1_of_Get_Details_from_Circuit.SiteZAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Child_Case_FE</name>
        <label>Copy 1 of Update Child Case FE</label>
        <locationX>4274</locationX>
        <locationY>971</locationY>
        <inputAssignments>
            <field>FieldEngineerEmail__c</field>
            <value>
                <elementReference>$Record.FieldEngineerEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldEngineer__c</field>
            <value>
                <elementReference>$Record.FieldEngineer__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Cases</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Is_SLA_Overdue_field</name>
        <label>Copy 1 of Update Is_SLA_Overdue field</label>
        <locationX>1898</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Is_SLA_Overdue__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_SiteDetail_FieldEngineer</name>
        <label>Copy 1 of Update SiteDetail&amp;FieldEngineer</label>
        <locationX>2690</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Copy_2_of_Notify_FE_on_Update</targetReference>
        </connector>
        <inputAssignments>
            <field>ActiveIP__c</field>
            <value>
                <stringValue>CloudExtel</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CECircle__c</field>
            <value>
                <elementReference>Get_details_on_Site_Name_change.Circle_Name__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Circuit_ID__c</field>
            <value>
                <elementReference>Get_details_on_Site_Name_change.Circuit_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Time_In_Progress__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldEngineerEmail__c</field>
            <value>
                <elementReference>Get_details_on_Site_Name_change.Field_Engineer_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldEngineerUser__c</field>
            <value>
                <elementReference>Get_details_on_Site_Name_change.FieldEngineer__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldEngineer__c</field>
            <value>
                <elementReference>FE_FullName2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GPON_Id__c</field>
            <value>
                <elementReference>Get_details_on_Site_Name_change.GPON_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>POPLat__c</field>
            <value>
                <elementReference>Get_details_on_Site_Name_change.POPLat__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>POPLong__c</field>
            <value>
                <elementReference>Get_details_on_Site_Name_change.POPLong__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>POPName__c</field>
            <value>
                <elementReference>Get_details_on_Site_Name_change.POPName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PassiveIP__c</field>
            <value>
                <elementReference>Get_details_on_Site_Name_change.IP__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServicingVendor__c</field>
            <value>
                <elementReference>Get_details_on_Site_Name_change.ServicingVendor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteAddress__c</field>
            <value>
                <elementReference>Get_details_on_Site_Name_change.sitetracker__Full_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteLatitude__c</field>
            <value>
                <elementReference>Get_details_on_Site_Name_change.sitetracker__Lat__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteLongitude__c</field>
            <value>
                <elementReference>Get_details_on_Site_Name_change.sitetracker__Long__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_ID__c</field>
            <value>
                <elementReference>Get_details_on_Site_Name_change.Site_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site__c</field>
            <value>
                <elementReference>Get_details_on_Site_Name_change.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_UpdateFieldEngineer</name>
        <label>Copy 1 of UpdateFieldEngineer</label>
        <locationX>2954</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Copy_1_of_Notify_FE_on_Update</targetReference>
        </connector>
        <inputAssignments>
            <field>CECircle__c</field>
            <value>
                <elementReference>Get_details_from_GPON.Circles__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Time_In_Progress__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FATNumber__c</field>
            <value>
                <elementReference>Get_details_from_Fat.FATNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldEngineerEmail__c</field>
            <value>
                <elementReference>Get_details_from_GPON.FieldEngineer__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldEngineerUser__c</field>
            <value>
                <elementReference>Get_details_from_GPON.FieldEngineer__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldEngineer__c</field>
            <value>
                <elementReference>FE_FullName3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GPON_Id__c</field>
            <value>
                <elementReference>Get_details_from_GPON.GPONId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NOCContactEmail__c</field>
            <value>
                <elementReference>Get_details_from_GPON.NOCContactEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OMContactEmail__c</field>
            <value>
                <elementReference>Get_details_from_GPON.OMContactEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RSU__c</field>
            <value>
                <elementReference>Get_details_from_GPON.RSU__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteLatitude__c</field>
            <value>
                <elementReference>Get_details_from_GPON.Latitude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteLongitude__c</field>
            <value>
                <elementReference>Get_details_from_GPON.Longitude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_UpdateResolvedTime</name>
        <label>Copy 1 of UpdateResolvedTime</label>
        <locationX>314</locationX>
        <locationY>1139</locationY>
        <connector>
            <targetReference>Copy_1_of_case_resolved</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_Time_Resolved__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_Update_Case_Record</name>
        <label>Update Case Record</label>
        <locationX>1370</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>On_Hold_Resume_Customer_Alert</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_Time_OnHold_End__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalHoldMinutes__c</field>
            <value>
                <elementReference>TotalHoldMinutesFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Copy_1_of_Update_Child_Case_FE</name>
        <label>Copy 2 of Copy 1 of Update Child Case FE</label>
        <locationX>6386</locationX>
        <locationY>971</locationY>
        <inputAssignments>
            <field>FieldEngineerEmail__c</field>
            <value>
                <elementReference>$Record.FieldEngineerEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldEngineer__c</field>
            <value>
                <elementReference>$Record.FieldEngineer__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Cases</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update the Case record with CircuitID , Route Name / Link Name and Field Engineer</description>
        <name>Copy_2_of_Update_Case</name>
        <label>Copy 2 of Update Case</label>
        <locationX>6122</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Copy_5_of_Notify_FE_on_Update</targetReference>
        </connector>
        <inputAssignments>
            <field>CECircle__c</field>
            <value>
                <elementReference>Copy_2_of_Get_Details_from_Circuit.Circle__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Circuit_ID__c</field>
            <value>
                <elementReference>Copy_2_of_Get_Details_from_Circuit.CircuitId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerCircuitId__c</field>
            <value>
                <elementReference>Copy_2_of_Get_Details_from_Circuit.CustomerCircuitId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Time_In_Progress__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldEngineerEmail__c</field>
            <value>
                <elementReference>Copy_2_of_Get_Details_from_Circuit.FieldEngineer__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldEngineerUser__c</field>
            <value>
                <elementReference>Copy_2_of_Get_Details_from_Circuit.FieldEngineer__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldEngineer__c</field>
            <value>
                <elementReference>FE_FullName5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NOCContactEmail__c</field>
            <value>
                <elementReference>Copy_2_of_Get_Details_from_Circuit.NOCContactEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OMContactEmail__c</field>
            <value>
                <elementReference>Copy_2_of_Get_Details_from_Circuit.OMContactEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PathName__c</field>
            <value>
                <elementReference>Copy_2_of_Get_Details_from_Circuit.LinkName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RouteName__c</field>
            <value>
                <elementReference>Copy_2_of_Get_Details_from_Circuit.RouteName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteAddress__c</field>
            <value>
                <elementReference>Copy_2_of_Get_Details_from_Circuit.SiteAAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteLatitude__c</field>
            <value>
                <elementReference>Copy_2_of_Get_Details_from_Circuit.SiteALatitude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteLongitude__c</field>
            <value>
                <elementReference>Copy_2_of_Get_Details_from_Circuit.SiteALongitude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteZLatitude__c</field>
            <value>
                <elementReference>Copy_2_of_Get_Details_from_Circuit.SiteZLatitude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteZLongitude__c</field>
            <value>
                <elementReference>Copy_2_of_Get_Details_from_Circuit.SiteZLongitude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ZSiteAddress__c</field>
            <value>
                <elementReference>Copy_2_of_Get_Details_from_Circuit.SiteZAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update the Case record with CircuitID , Route Name / Link Name and Field Engineer</description>
        <name>Copy_3_of_Update_Case</name>
        <label>Copy 3 of Update Case</label>
        <locationX>4406</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>DownTime_UPTime_Available1</targetReference>
        </connector>
        <inputAssignments>
            <field>Assigned_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CECircle__c</field>
            <value>
                <elementReference>Get_Details_from_Circuit.Circle__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Circuit_ID__c</field>
            <value>
                <elementReference>Get_Details_from_Circuit.CircuitId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerCircuitId__c</field>
            <value>
                <elementReference>Get_Details_from_Circuit.CustomerCircuitId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldEngineerUser__c</field>
            <value>
                <elementReference>Get_Details_from_Circuit.FieldEngineer__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NOCContactEmail__c</field>
            <value>
                <elementReference>Get_Details_from_Circuit.NOCContactEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OMContactEmail__c</field>
            <value>
                <elementReference>Get_Details_from_Circuit.OMContactEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PathName__c</field>
            <value>
                <elementReference>Get_Details_from_Circuit.LinkName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RouteName__c</field>
            <value>
                <elementReference>Get_Details_from_Circuit.RouteName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteAddress__c</field>
            <value>
                <elementReference>Get_Details_from_Circuit.SiteAAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteLatitude__c</field>
            <value>
                <elementReference>Get_Details_from_Circuit.SiteALatitude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteLongitude__c</field>
            <value>
                <elementReference>Get_Details_from_Circuit.SiteALongitude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteZLatitude__c</field>
            <value>
                <elementReference>Get_Details_from_Circuit.SiteZLatitude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteZLongitude__c</field>
            <value>
                <elementReference>Get_Details_from_Circuit.SiteZLongitude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ZSiteAddress__c</field>
            <value>
                <elementReference>Get_Details_from_Circuit.SiteZAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update the Case record with CircuitID , Route Name / Link Name and Field Engineer</description>
        <name>Copy_4_of_Update_Case</name>
        <label>Copy 4 of Update Case</label>
        <locationX>6518</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Copy_2_of_DownTime_UPTime_Available</targetReference>
        </connector>
        <inputAssignments>
            <field>CECircle__c</field>
            <value>
                <elementReference>Copy_2_of_Get_Details_from_Circuit.Circle__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Circuit_ID__c</field>
            <value>
                <elementReference>Copy_2_of_Get_Details_from_Circuit.CircuitId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerCircuitId__c</field>
            <value>
                <elementReference>Copy_2_of_Get_Details_from_Circuit.CustomerCircuitId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Time_In_Progress__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldEngineerEmail__c</field>
            <value>
                <elementReference>Copy_2_of_Get_Details_from_Circuit.FieldEngineer__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldEngineerUser__c</field>
            <value>
                <elementReference>Copy_2_of_Get_Details_from_Circuit.FieldEngineer__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldEngineer__c</field>
            <value>
                <elementReference>FE_FullName5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NOCContactEmail__c</field>
            <value>
                <elementReference>Copy_2_of_Get_Details_from_Circuit.NOCContactEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OMContactEmail__c</field>
            <value>
                <elementReference>Copy_2_of_Get_Details_from_Circuit.OMContactEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PathName__c</field>
            <value>
                <elementReference>Copy_2_of_Get_Details_from_Circuit.LinkName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RouteName__c</field>
            <value>
                <elementReference>Copy_2_of_Get_Details_from_Circuit.RouteName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteAddress__c</field>
            <value>
                <elementReference>Copy_2_of_Get_Details_from_Circuit.SiteAAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteLatitude__c</field>
            <value>
                <elementReference>Copy_2_of_Get_Details_from_Circuit.SiteALatitude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteLongitude__c</field>
            <value>
                <elementReference>Copy_2_of_Get_Details_from_Circuit.SiteALongitude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteZLatitude__c</field>
            <value>
                <elementReference>Copy_2_of_Get_Details_from_Circuit.SiteZLatitude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteZLongitude__c</field>
            <value>
                <elementReference>Copy_2_of_Get_Details_from_Circuit.SiteZLongitude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ZSiteAddress__c</field>
            <value>
                <elementReference>Copy_2_of_Get_Details_from_Circuit.SiteZAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update the Case record with CircuitID , Route Name / Link Name and Field Engineer</description>
        <name>Copy_5_Update_Case</name>
        <label>Copy 5 Update Case</label>
        <locationX>7178</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_5_of_Notify_FE_on_Update</targetReference>
        </connector>
        <inputAssignments>
            <field>CECircle__c</field>
            <value>
                <elementReference>Get_Details_from_Circuit_By_Route_Name.Circle__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Circuit_ID__c</field>
            <value>
                <elementReference>Get_Details_from_Circuit_By_Route_Name.CircuitId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerCircuitId__c</field>
            <value>
                <elementReference>Get_Details_from_Circuit_By_Route_Name.CustomerCircuitId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Time_In_Progress__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldEngineerEmail__c</field>
            <value>
                <elementReference>Get_Details_from_Circuit_By_Route_Name.FieldEngineer__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldEngineerUser__c</field>
            <value>
                <elementReference>Get_Details_from_Circuit_By_Route_Name.FieldEngineer__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldEngineer__c</field>
            <value>
                <elementReference>FE_FullName7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NOCContactEmail__c</field>
            <value>
                <elementReference>Get_Details_from_Circuit_By_Route_Name.NOCContactEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OMContactEmail__c</field>
            <value>
                <elementReference>Get_Details_from_Circuit_By_Route_Name.OMContactEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteAddress__c</field>
            <value>
                <elementReference>Get_Details_from_Circuit_By_Route_Name.SiteAAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteLatitude__c</field>
            <value>
                <elementReference>Get_Details_from_Circuit_By_Route_Name.SiteALatitude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteLongitude__c</field>
            <value>
                <elementReference>Get_Details_from_Circuit_By_Route_Name.SiteALongitude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteZLatitude__c</field>
            <value>
                <elementReference>Get_Details_from_Circuit_By_Route_Name.SiteZLatitude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteZLongitude__c</field>
            <value>
                <elementReference>Get_Details_from_Circuit_By_Route_Name.SiteZLongitude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ZSiteAddress__c</field>
            <value>
                <elementReference>Get_Details_from_Circuit_By_Route_Name.SiteZAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update the Case record with CircuitID , Route Name / Link Name and Field Engineer</description>
        <name>Copy_6_of_Update_Case</name>
        <label>Copy 6 of Update Case</label>
        <locationX>7574</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_2_of_DownTime_UPTime_Available</targetReference>
        </connector>
        <inputAssignments>
            <field>CECircle__c</field>
            <value>
                <elementReference>Get_Details_from_Circuit_By_Route_Name.Circle__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Circuit_ID__c</field>
            <value>
                <elementReference>Get_Details_from_Circuit_By_Route_Name.CircuitId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerCircuitId__c</field>
            <value>
                <elementReference>Get_Details_from_Circuit_By_Route_Name.CustomerCircuitId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Time_In_Progress__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldEngineerEmail__c</field>
            <value>
                <elementReference>Get_Details_from_Circuit_By_Route_Name.FieldEngineer__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldEngineerUser__c</field>
            <value>
                <elementReference>Get_Details_from_Circuit_By_Route_Name.FieldEngineer__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldEngineer__c</field>
            <value>
                <elementReference>FE_FullName7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NOCContactEmail__c</field>
            <value>
                <elementReference>Get_Details_from_Circuit_By_Route_Name.NOCContactEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OMContactEmail__c</field>
            <value>
                <elementReference>Get_Details_from_Circuit_By_Route_Name.OMContactEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteAddress__c</field>
            <value>
                <elementReference>Get_Details_from_Circuit_By_Route_Name.SiteAAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteLatitude__c</field>
            <value>
                <elementReference>Get_Details_from_Circuit_By_Route_Name.SiteALatitude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteLongitude__c</field>
            <value>
                <elementReference>Get_Details_from_Circuit_By_Route_Name.SiteALongitude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteZLatitude__c</field>
            <value>
                <elementReference>Get_Details_from_Circuit_By_Route_Name.SiteZLatitude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteZLongitude__c</field>
            <value>
                <elementReference>Get_Details_from_Circuit_By_Route_Name.SiteZLongitude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ZSiteAddress__c</field>
            <value>
                <elementReference>Get_Details_from_Circuit_By_Route_Name.SiteZAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update the Case record with CircuitID , Route Name / Link Name and Field Engineer</description>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>4010</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Notify_FE_on_Update</targetReference>
        </connector>
        <inputAssignments>
            <field>CECircle__c</field>
            <value>
                <elementReference>Get_Details_from_Circuit.Circle__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Circuit_ID__c</field>
            <value>
                <elementReference>Get_Details_from_Circuit.CircuitId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerCircuitId__c</field>
            <value>
                <elementReference>Get_Details_from_Circuit.CustomerCircuitId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Time_In_Progress__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldEngineerUser__c</field>
            <value>
                <elementReference>Get_Details_from_Circuit.FieldEngineer__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NOCContactEmail__c</field>
            <value>
                <elementReference>Get_Details_from_Circuit.NOCContactEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OMContactEmail__c</field>
            <value>
                <elementReference>Get_Details_from_Circuit.OMContactEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PathName__c</field>
            <value>
                <elementReference>Get_Details_from_Circuit.LinkName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RouteName__c</field>
            <value>
                <elementReference>Get_Details_from_Circuit.RouteName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteAddress__c</field>
            <value>
                <elementReference>Get_Details_from_Circuit.SiteAAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteLatitude__c</field>
            <value>
                <elementReference>Get_Details_from_Circuit.SiteALatitude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteLongitude__c</field>
            <value>
                <elementReference>Get_Details_from_Circuit.SiteALongitude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteZLatitude__c</field>
            <value>
                <elementReference>Get_Details_from_Circuit.SiteZLatitude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteZLongitude__c</field>
            <value>
                <elementReference>Get_Details_from_Circuit.SiteZLongitude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ZSiteAddress__c</field>
            <value>
                <elementReference>Get_Details_from_Circuit.SiteZAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Escalation_details</name>
        <label>Update Case Escalation details</label>
        <locationX>2954</locationX>
        <locationY>1187</locationY>
        <inputAssignments>
            <field>L2_Contact_Email__c</field>
            <value>
                <elementReference>Get_GPON_Escalation_Details.Level2_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L3_Contact_Email__c</field>
            <value>
                <elementReference>Get_GPON_Escalation_Details.Level3_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L4_Contact_Email__c</field>
            <value>
                <elementReference>Get_GPON_Escalation_Details.Level4_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L5_Contact_Email__c</field>
            <value>
                <elementReference>Get_GPON_Escalation_Details.Level5_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L6_Contact_Email__c</field>
            <value>
                <elementReference>Get_GPON_Escalation_Details.Level6_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Escalation_details_2</name>
        <label>Update Case Escalation details 2</label>
        <locationX>4010</locationX>
        <locationY>1079</locationY>
        <inputAssignments>
            <field>L2_Contact_Email__c</field>
            <value>
                <elementReference>Get_Circuit_Escalation_Details.Level2_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L3_Contact_Email__c</field>
            <value>
                <elementReference>Get_Circuit_Escalation_Details.Level3_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L4_Contact_Email__c</field>
            <value>
                <elementReference>Get_Circuit_Escalation_Details.Level4_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L5_Contact_Email__c</field>
            <value>
                <elementReference>Get_Circuit_Escalation_Details.Level5_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L6_Contact_Email__c</field>
            <value>
                <elementReference>Get_Circuit_Escalation_Details.Level6_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Hold_End</name>
        <label>Update Case Hold End</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Copy_1_Is_resolved_time_available</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_Time_OnHold_End__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalHoldMinutes__c</field>
            <value>
                <elementReference>TotalHoldMinutesFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Record</name>
        <label>Update Case Record</label>
        <locationX>1502</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Is_last_status_On_hold</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_Time_In_Progress__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Record1</name>
        <label>Update Case Record</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Incident_Rework_Time_CE__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Records</name>
        <label>Update Case Records</label>
        <locationX>3218</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Notify_FE_on_Update</targetReference>
        </connector>
        <inputAssignments>
            <field>CECircle__c</field>
            <value>
                <elementReference>Get_details_from_GPON.Circles__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FATNumber__c</field>
            <value>
                <elementReference>Get_details_from_Fat.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldEngineerEmail__c</field>
            <value>
                <elementReference>Get_details_from_GPON.FieldEngineer__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldEngineerUser__c</field>
            <value>
                <elementReference>Get_details_from_GPON.FieldEngineer__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldEngineer__c</field>
            <value>
                <elementReference>Get_details_from_GPON.FieldEngineer__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GPON_Id__c</field>
            <value>
                <elementReference>Get_details_from_GPON.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RSU__c</field>
            <value>
                <elementReference>Get_details_from_GPON.RSU__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteLatitude__c</field>
            <value>
                <elementReference>Get_details_from_GPON.Latitude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteLongitude__c</field>
            <value>
                <elementReference>Get_details_from_GPON.Longitude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the case status to Missing Details</description>
        <name>Update_Case_Status</name>
        <label>Update Case Status</label>
        <locationX>4802</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Missing Details</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_IsStopped</name>
        <label>Update IsStopped</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Case_On_Hold_Alert</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_Time_OnHold_End__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Time_OnHold_Start__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsStopped</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SiteDetail_FieldEngineer</name>
        <label>Update SiteDetail&amp;FieldEngineer</label>
        <locationX>2426</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Copy_3_of_Notify_FE_on_Update</targetReference>
        </connector>
        <inputAssignments>
            <field>ActiveIP__c</field>
            <value>
                <stringValue>CloudExtel</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CECircle__c</field>
            <value>
                <elementReference>Get_details_on_SiteID_change.Circle_Name__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Circuit_ID__c</field>
            <value>
                <elementReference>Get_details_on_SiteID_change.Circuit_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Time_In_Progress__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldEngineerUser__c</field>
            <value>
                <elementReference>Get_details_on_SiteID_change.FieldEngineer__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GPON_Id__c</field>
            <value>
                <elementReference>Get_details_on_SiteID_change.GPON_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>POPLat__c</field>
            <value>
                <elementReference>Get_details_on_SiteID_change.POPLat__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>POPLong__c</field>
            <value>
                <elementReference>Get_details_on_SiteID_change.POPLong__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>POPName__c</field>
            <value>
                <elementReference>Get_details_on_SiteID_change.POPName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PassiveIP__c</field>
            <value>
                <elementReference>Get_details_on_SiteID_change.IP__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServicingVendor__c</field>
            <value>
                <elementReference>Get_details_on_SiteID_change.ServicingVendor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteAddress__c</field>
            <value>
                <elementReference>Get_details_on_SiteID_change.sitetracker__Full_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteLatitude__c</field>
            <value>
                <elementReference>Get_details_on_SiteID_change.sitetracker__Lat__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteLongitude__c</field>
            <value>
                <elementReference>Get_details_on_SiteID_change.sitetracker__Long__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_ID__c</field>
            <value>
                <elementReference>Get_details_on_SiteID_change.Site_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site__c</field>
            <value>
                <elementReference>Get_details_on_SiteID_change.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the case status to Missing Details</description>
        <name>UpdateStatus</name>
        <label>UpdateStatus</label>
        <locationX>3746</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>Status</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>2729</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Case_status_change</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>UpdateNotificationBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.ContactEmail} . The case {!$Record.CaseNumber} status has changes from {!$Record__Prior.Status} to {!$Record.Status} . We are working to resolve this as soon as possible .Thanks you &lt;/p&gt;</text>
    </textTemplates>
</Flow>
