force-app/main/default/flows/Case_Creation_MappingFields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Case_Creation_for_FTTP</name>
        <label>Case Creation for FTTP</label>
        <locationX>3372</locationX>
        <locationY>647</locationY>
        <actionName>Case.Case_Creation</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>GPON_available</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Creation</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Case_Creation_UG</name>
        <label>Case Creation UG</label>
        <locationX>4120</locationX>
        <locationY>647</locationY>
        <actionName>Case.Case_Creation</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CircuitIDCheck</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Creation</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Missing_Circuit_Id</name>
        <label>Copy 1 of Missing Circuit Id</label>
        <locationX>2250</locationX>
        <locationY>1295</locationY>
        <actionName>Case.Missing_Circuit_Id</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Missing_Circuit_Id</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>DuplicateCase</name>
        <label>DuplicateCase</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Case.CaseDuplication</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.CaseDuplication</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>ExtIPEA</name>
        <label>ExtIPEA</label>
        <locationX>798</locationX>
        <locationY>2027</locationY>
        <actionName>Case.Case</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>UpdateEmailSentFlag</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>FE_Alert_for_FTTP</name>
        <label>FE_Alert for FTTP</label>
        <locationX>3042</locationX>
        <locationY>1295</locationY>
        <actionName>Case.Case_Field_Engineer_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Get_FTTH_Escalation_Contacts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Field_Engineer_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>FE_Alert_for_SC</name>
        <label>FE Alert for SC</label>
        <locationX>578</locationX>
        <locationY>2543</locationY>
        <actionName>Case.Case_Field_Engineer_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>FECustomerNotification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Field_Engineer_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>FE_alert_UG</name>
        <label>FE alert UG</label>
        <locationX>3834</locationX>
        <locationY>1187</locationY>
        <actionName>Case.Case_Field_Engineer_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Get_UG_Escalation_Contacts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Field_Engineer_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>FE_alertUG</name>
        <label>FE alert UG</label>
        <locationX>3988</locationX>
        <locationY>2069</locationY>
        <actionName>Case.Case_Field_Engineer_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Copy_1_of_Get_UG_Escalation_Contacts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Field_Engineer_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>FEAlert_for_OHFC</name>
        <label>FEAlert for OHFC</label>
        <locationX>1986</locationX>
        <locationY>1295</locationY>
        <actionName>Case.Case_Field_Engineer_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>GetOHFCEscalationContacts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Field_Engineer_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Notification to the customer that the case is assigned to the field engineer</description>
        <name>FECustomerNotification</name>
        <label>FECustomerNotification</label>
        <locationX>2881</locationX>
        <locationY>3071</locationY>
        <actionName>Case.Case_FECustomerNotification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_FECustomerNotification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>GPON ID is missing in the mail.</description>
        <name>GPON_ID_is_Missing</name>
        <label>GPON ID is Missing</label>
        <locationX>3306</locationX>
        <locationY>1295</locationY>
        <actionName>Case.Missing_GPON_ID</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Missing_GPON_ID</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>GPON ID is missing in the mail.</description>
        <name>GPON_is_Missing</name>
        <label>GPON  is Missing</label>
        <locationX>3570</locationX>
        <locationY>971</locationY>
        <actionName>Case.Missing_GPON_ID</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Missing_GPON_ID</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Missing_Circuit_Id</name>
        <label>Missing Circuit Id</label>
        <locationX>2514</locationX>
        <locationY>971</locationY>
        <actionName>Case.Missing_Circuit_Id</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Missing_Circuit_Id</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Missing_details_alert</name>
        <label>Missing details alert</label>
        <locationX>1392</locationX>
        <locationY>1961</locationY>
        <actionName>Case.Case_Missing_Details_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Missing_Details_Notification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Missing_Details_UG</name>
        <label>Missing Details UG</label>
        <locationX>4252</locationX>
        <locationY>2069</locationY>
        <actionName>Case.Case_Missing_Details_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Missing_Details_Notification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>NoLOBAlert</name>
        <label>NoLOBAlert</label>
        <locationX>5308</locationX>
        <locationY>863</locationY>
        <actionName>Case.Case_Missing_Details_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Missing_Details_Notification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>OHFC_Case_Creation</name>
        <label>OHFC Case Creation</label>
        <locationX>2778</locationX>
        <locationY>755</locationY>
        <actionName>Case.Case_Creation</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Circuit_Id_present</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Creation</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SC_Case_Creation</name>
        <label>SC Case Creation</label>
        <locationX>1386</locationX>
        <locationY>755</locationY>
        <actionName>Case.Case_Creation</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>SiteIDCheck</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Creation</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Case_Records</name>
        <label>Case Records</label>
        <locationX>710</locationX>
        <locationY>1403</locationY>
        <defaultConnector>
            <targetReference>Get_Small_Cell_Escalation_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Records.CaseNumber</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CaseNumber</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_With_ParentCase</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_FE_Null</name>
        <label>Check_FE_Null</label>
        <locationX>710</locationX>
        <locationY>2435</locationY>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FieldEngineerEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FE_Alert_for_SC</targetReference>
            </connector>
            <label>Not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckDuplicateStatus</name>
        <label>Check Duplicate Status</label>
        <locationX>1465</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>CaseNumberKey_Mapping</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Duplicate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Duplicate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DuplicateCase</targetReference>
            </connector>
            <label>Duplicate</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSiteIdExists</name>
        <label>CheckSiteIdExists</label>
        <locationX>1051</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>SiteCheck</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Site Unavailable</defaultConnectorLabel>
        <rules>
            <name>Site_is_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetSite.CellID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updating_Case</targetReference>
            </connector>
            <label>Site is Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Circuit_Id_present</name>
        <label>Circuit Id present</label>
        <locationX>2316</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Missing_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Present</defaultConnectorLabel>
        <rules>
            <name>Present</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Circuit_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CircuitId2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCircuitObject</targetReference>
            </connector>
            <label>Present</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verifies if the segment circuit id received is not null</description>
        <name>CircuitCheck</name>
        <label>CircuitCheck</label>
        <locationX>3966</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_GetCircuitObjectByCircuit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CircuitNull</defaultConnectorLabel>
        <rules>
            <name>CircuitNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCircuitObjectByCircuit.CircuitId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaseUpdation</targetReference>
            </connector>
            <label>CircuitNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the circuit is present on the case</description>
        <name>CircuitIDCheck</name>
        <label>CircuitIDCheck</label>
        <locationX>4120</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_GetCircuitObjectByCircuit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>UG Circuit Id Not Available</defaultConnectorLabel>
        <rules>
            <name>UGCircuitIdAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Circuit_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCircuitObjectByCircuit</targetReference>
            </connector>
            <label>UG Circuit Id Available</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verify if the numner of matching records is 1 or not</description>
        <name>CountVerify</name>
        <label>CountVerify</label>
        <locationX>4120</locationX>
        <locationY>1853</locationY>
        <defaultConnector>
            <targetReference>DetailsMissing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>X1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_GetCircuitObjectByCircuit.RouteName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaseUpdate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verify if the GPON id is available in the case record</description>
        <name>GPON_available</name>
        <label>GPON available</label>
        <locationX>3372</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Missing_GPON_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GPON_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetFTTHImpactedComponents</targetReference>
            </connector>
            <label>Available</label>
        </rules>
    </decisions>
    <decisions>
        <description>Initial Email Check ?</description>
        <name>Initial_Email_Check</name>
        <label>Initial Email Check ?</label>
        <locationX>850</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>SC_Case_Creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Initial_Small_Cell_Email_with_Excel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsExcelRecord__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_Closed_with_Excel_Comment</targetReference>
            </connector>
            <label>Initial Small Cell Email with Excel</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Circuit_Available</name>
        <label>Is Circuit Available</label>
        <locationX>2118</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Missing_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCircuitObject.CircuitId__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_site_details</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCEPassiveIssue</name>
        <label>IsCEPassiveIssue</label>
        <locationX>710</locationX>
        <locationY>1919</locationY>
        <defaultConnector>
            <targetReference>ExtIPEA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Passive Not Maintained by CE</defaultConnectorLabel>
        <rules>
            <name>PassiveMaintainedbyCE</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PassiveIP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CloudExtel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PassiveIP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PassiveIP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PassiveIP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bombay Gas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateStatus1</targetReference>
            </connector>
            <label>Passive Maintained by CE</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verifies if GPON is not matching from the case GPON</description>
        <name>IsGPONIdAvailable</name>
        <label>GPON Id Available ?</label>
        <locationX>3174</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>GPON_Not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Matching</defaultConnectorLabel>
        <rules>
            <name>GPONIdAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetFTTHImpactedComponents.ComponentId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Details</targetReference>
            </connector>
            <label>GPON Id Available</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verifies the line of business</description>
        <name>Line_of_Business</name>
        <label>Line of Business</label>
        <locationX>2881</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>LOB_check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Small_Cell</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Small Cell</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initial_Email_Check</targetReference>
            </connector>
            <label>Small Cell</label>
        </rules>
        <rules>
            <name>OHFC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OHFC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>send_Notify</targetReference>
            </connector>
            <label>OHFC</label>
        </rules>
        <rules>
            <name>FTTH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FTTH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Creation_for_FTTP</targetReference>
            </connector>
            <label>FTTH</label>
        </rules>
        <rules>
            <name>UG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UG</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Creation_UG</targetReference>
            </connector>
            <label>UG</label>
        </rules>
    </decisions>
    <decisions>
        <name>LOB_check</name>
        <label>LOB check</label>
        <locationX>4912</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>CaseSTatusUpdate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>IfSmallCell</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Source:EmailMessage.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>s5.ce.cases@gmail.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LOBisSmallCell</targetReference>
            </connector>
            <label>IfSmallCell</label>
        </rules>
        <rules>
            <name>IfOHFC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Source:EmailMessage.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>s5.ce.ohfc@gmail.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LOBisOHFC</targetReference>
            </connector>
            <label>IfOHFC</label>
        </rules>
        <rules>
            <name>sample</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Source:EmailMessage.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>aruna.palanisamy@springfive.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>samplecheck</targetReference>
            </connector>
            <label>sample</label>
        </rules>
    </decisions>
    <decisions>
        <name>send_Notify</name>
        <label>send Notify</label>
        <locationX>2547</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>OHFC_Case_Creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>No Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Circuit_Id_present</targetReference>
            </connector>
            <label>No Email</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the record does not have a site</description>
        <name>SiteCheck</name>
        <label>SiteCheck</label>
        <locationX>1392</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>UpdateStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Empty</defaultConnectorLabel>
        <rules>
            <name>Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Site__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetSiteRecord</targetReference>
            </connector>
            <label>Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>SiteExists</name>
        <label>SiteExists</label>
        <locationX>1238</locationX>
        <locationY>1403</locationY>
        <defaultConnector>
            <targetReference>UpdateStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Exists</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetSiteRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the case site id is null</description>
        <name>SiteIDCheck</name>
        <label>SiteIDCheck</label>
        <locationX>1386</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>SiteCheck</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Visible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CellId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetSite</targetReference>
            </connector>
            <label>Visible</label>
        </rules>
    </decisions>
    <description>Triggered when a Case is created and maps the Case Fields with data pulled from SITE/Circuit/GPON Master. Removed unwanted decision path for Case Type Issue and Proactive</description>
    <formulas>
        <name>FE_FullName1_OHFC</name>
        <dataType>String</dataType>
        <expression>{!GetCircuitObject.FieldEngineer__r.FirstName} &amp; &quot; &quot;&amp;{!GetCircuitObject.FieldEngineer__r.LastName}</expression>
    </formulas>
    <formulas>
        <name>FE_FullName2_UG</name>
        <dataType>String</dataType>
        <expression>{!Copy_1_of_GetCircuitObjectByCircuit.FieldEngineer__r.FirstName}&amp;&quot; &quot;&amp;{!Copy_1_of_GetCircuitObjectByCircuit.FieldEngineer__r.LastName}</expression>
    </formulas>
    <formulas>
        <name>FE_FullName_Ug</name>
        <dataType>String</dataType>
        <expression>{!GetCircuitObjectByCircuit.FieldEngineer__r.FirstName}&amp;&quot; &quot;&amp;{!GetCircuitObjectByCircuit.FieldEngineer__r.LastName}</expression>
    </formulas>
    <interviewLabel>Case_Creation_MappingFields_From {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case_Creation_MappingFields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Retrive escalation contacts of all levels for UG</description>
        <name>Copy_1_of_Get_UG_Escalation_Contacts</name>
        <label>Copy 1 of Get UG Escalation Contacts</label>
        <locationX>3988</locationX>
        <locationY>2177</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Update_Case_Escalation_Matrix_UG</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Route_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RouteName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case_Escalation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting the segment details if circuit id matches</description>
        <name>Copy_1_of_GetCircuitObjectByCircuit</name>
        <label>Copy 1 of GetCircuitObjectByCircuit</label>
        <locationX>4120</locationX>
        <locationY>1745</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CountVerify</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RouteName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RouteName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Circuit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Records</name>
        <label>Get Case Records</label>
        <locationX>710</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Site__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Site__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Resolved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rework</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrive escalation contacts of all levels for OHFC</description>
        <name>Get_FTTH_Escalation_Contacts</name>
        <label>Get FTTH Escalation Contacts</label>
        <locationX>3042</locationX>
        <locationY>1403</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case_Escalation_Matrix_FTTH</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GPON_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetFTTHImpactedComponents.ComponentId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case_Escalation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_GPON</name>
        <label>GET GPON</label>
        <locationX>3174</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsGPONIdAvailable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GPONId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetFTTHImpactedComponents.ComponentId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GPON__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get site record for the matching circuit id of the case</description>
        <name>Get_Site_record</name>
        <label>Get Site record</label>
        <locationX>2118</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Circuit_Available</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Circuit_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Circuit_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CustomerCircuitId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Circuit_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Circuit_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CircuitId2__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sitetracker__Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrive escalation contacts of all levels for Small Cell</description>
        <name>Get_Small_Cell_Escalation_Contacts</name>
        <label>Get Small Cell Escalation Contacts</label>
        <locationX>710</locationX>
        <locationY>1703</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Small_Cell_Case_Escalation_Matrix</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Site_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Site_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case_Escalation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrive escalation contacts of all levels for UG</description>
        <name>Get_UG_Escalation_Contacts</name>
        <label>Get UG Escalation Contacts</label>
        <locationX>3834</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case_Escalation_Matrix_UG</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Circuit_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Circuit_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case_Escalation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCircuitObject</name>
        <label>GetCircuitObject</label>
        <locationX>2118</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Site_record</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>CircuitId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Circuit_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CustomerCircuitId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Circuit_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CircuitId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CircuitId2__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Circuit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting the segment details if circuit id matches</description>
        <name>GetCircuitObjectByCircuit</name>
        <label>GetCircuitObjectByCircuit</label>
        <locationX>3966</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CircuitCheck</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>CircuitId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Circuit_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CircuitId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CircuitId2__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Circuit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get FTTH Impacted Components</description>
        <name>GetFTTHImpactedComponents</name>
        <label>Get FTTH Impacted Components</label>
        <locationX>3174</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_GPON</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ComponentType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GPON</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseFTTHComponent__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieve escalation contacts of all levels for OHFC</description>
        <name>GetOHFCEscalationContacts</name>
        <label>Get OHFC Escalation Contacts</label>
        <locationX>1986</locationX>
        <locationY>1403</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case_Escalation_Matrix</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Circuit_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Circuit_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case_Escalation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSite</name>
        <label>GetSite</label>
        <locationX>1051</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckSiteIdExists</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>CellID__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.CellId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sitetracker__Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the record of the site from case</description>
        <name>GetSiteRecord</name>
        <label>GetSiteRecord</label>
        <locationX>1238</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SiteExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Site__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sitetracker__Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>CaseNumberKey_Mapping</name>
        <label>CaseNumberKey Mapping</label>
        <locationX>2881</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Line_of_Business</targetReference>
        </connector>
        <inputAssignments>
            <field>CaseNumberKey__c</field>
            <value>
                <elementReference>$Record.CaseNumber</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update the status to missing details</description>
        <name>CaseSTatusUpdate</name>
        <label>CaseSTatusUpdate</label>
        <locationX>5308</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>NoLOBAlert</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Missing Details</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update the record with matching segment details</description>
        <name>CaseUpdate</name>
        <label>CaseUpdate</label>
        <locationX>3988</locationX>
        <locationY>1961</locationY>
        <connector>
            <targetReference>FE_alertUG</targetReference>
        </connector>
        <inputAssignments>
            <field>CECircle__c</field>
            <value>
                <elementReference>Copy_1_of_GetCircuitObjectByCircuit.Circle__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Circuit_ID__c</field>
            <value>
                <elementReference>Copy_1_of_GetCircuitObjectByCircuit.CircuitId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerCircuitId__c</field>
            <value>
                <elementReference>Copy_1_of_GetCircuitObjectByCircuit.CustomerCircuitId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldEngineerEmail__c</field>
            <value>
                <elementReference>Copy_1_of_GetCircuitObjectByCircuit.FieldEngineer__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldEngineerUser__c</field>
            <value>
                <elementReference>Copy_1_of_GetCircuitObjectByCircuit.FieldEngineer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldEngineer__c</field>
            <value>
                <elementReference>FE_FullName2_UG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Line_of_Business__c</field>
            <value>
                <stringValue>UG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NOCContactEmail__c</field>
            <value>
                <elementReference>Copy_1_of_GetCircuitObjectByCircuit.NOCContactEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OMContactEmail__c</field>
            <value>
                <elementReference>Copy_1_of_GetCircuitObjectByCircuit.OMContactEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Raised_by_Customer__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteAddress__c</field>
            <value>
                <elementReference>Copy_1_of_GetCircuitObjectByCircuit.SiteAAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteLatitude__c</field>
            <value>
                <elementReference>Copy_1_of_GetCircuitObjectByCircuit.SiteALatitude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteLongitude__c</field>
            <value>
                <elementReference>Copy_1_of_GetCircuitObjectByCircuit.SiteALongitude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteZLatitude__c</field>
            <value>
                <elementReference>Copy_1_of_GetCircuitObjectByCircuit.SiteZLatitude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteZLongitude__c</field>
            <value>
                <elementReference>Copy_1_of_GetCircuitObjectByCircuit.SiteZLongitude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ZSiteAddress__c</field>
            <value>
                <elementReference>Copy_1_of_GetCircuitObjectByCircuit.SiteZAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update case data with matching circuit id</description>
        <name>CaseUpdation</name>
        <label>CaseUpdation</label>
        <locationX>3834</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>FE_alert_UG</targetReference>
        </connector>
        <inputAssignments>
            <field>Assigned_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CECircle__c</field>
            <value>
                <elementReference>GetCircuitObjectByCircuit.Circle__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Circuit_ID__c</field>
            <value>
                <elementReference>GetCircuitObjectByCircuit.CircuitId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerCircuitId__c</field>
            <value>
                <elementReference>GetCircuitObjectByCircuit.CustomerCircuitId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldEngineerEmail__c</field>
            <value>
                <elementReference>GetCircuitObjectByCircuit.FieldEngineer__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldEngineerUser__c</field>
            <value>
                <elementReference>GetCircuitObjectByCircuit.FieldEngineer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldEngineer__c</field>
            <value>
                <elementReference>FE_FullName_Ug</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Line_of_Business__c</field>
            <value>
                <stringValue>UG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NOCContactEmail__c</field>
            <value>
                <elementReference>GetCircuitObjectByCircuit.NOCContactEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OMContactEmail__c</field>
            <value>
                <elementReference>GetCircuitObjectByCircuit.OMContactEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Raised_by_Customer__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RouteName__c</field>
            <value>
                <elementReference>GetCircuitObjectByCircuit.RouteName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteAddress__c</field>
            <value>
                <elementReference>GetCircuitObjectByCircuit.SiteAAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteLatitude__c</field>
            <value>
                <elementReference>GetCircuitObjectByCircuit.SiteALatitude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteLongitude__c</field>
            <value>
                <elementReference>GetCircuitObjectByCircuit.SiteALongitude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteZLatitude__c</field>
            <value>
                <elementReference>GetCircuitObjectByCircuit.SiteZLatitude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteZLongitude__c</field>
            <value>
                <elementReference>GetCircuitObjectByCircuit.SiteZLongitude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ZSiteAddress__c</field>
            <value>
                <elementReference>GetCircuitObjectByCircuit.SiteZAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Setting status as Missing Details</description>
        <name>Copy_1_of_Missing_Details</name>
        <label>Copy 1 of Missing Details</label>
        <locationX>2250</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Copy_1_of_Missing_Circuit_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>IsMissingDetails__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Missing Details</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Case_Escalation_Matrix_UG</name>
        <label>Copy 1 of Update Case Escalation Matrix UG</label>
        <locationX>3988</locationX>
        <locationY>2285</locationY>
        <connector>
            <targetReference>FECustomerNotification</targetReference>
        </connector>
        <inputAssignments>
            <field>L2_Contact_Email__c</field>
            <value>
                <elementReference>Copy_1_of_Get_UG_Escalation_Contacts.Level2_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L3_Contact_Email__c</field>
            <value>
                <elementReference>Copy_1_of_Get_UG_Escalation_Contacts.Level3_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L4_Contact_Email__c</field>
            <value>
                <elementReference>Copy_1_of_Get_UG_Escalation_Contacts.Level4_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L5_Contact_Email__c</field>
            <value>
                <elementReference>Copy_1_of_Get_UG_Escalation_Contacts.Level5_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L6_Contact_Email__c</field>
            <value>
                <elementReference>Copy_1_of_Get_UG_Escalation_Contacts.Level6_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Assign the case status as Missing Details</description>
        <name>DetailsMissing</name>
        <label>DetailsMissing</label>
        <locationX>4252</locationX>
        <locationY>1961</locationY>
        <connector>
            <targetReference>Missing_Details_UG</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Missing Details</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>GPON_Not_Found</name>
        <label>GPON Not Found</label>
        <locationX>3306</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>GPON_ID_is_Missing</targetReference>
        </connector>
        <inputAssignments>
            <field>CaseNumberKey__c</field>
            <value>
                <elementReference>$Record.CaseNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsMissingDetails__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Missing Details</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Then the LOB will be OHFC</description>
        <name>LOBisOHFC</name>
        <label>LOBisOHFC</label>
        <locationX>4780</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Circuit_Id_present</targetReference>
        </connector>
        <inputAssignments>
            <field>Comments</field>
            <value>
                <elementReference>$Record.Source:EmailMessage.ToAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Line_of_Business__c</field>
            <value>
                <stringValue>OHFC</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Then LOB will be Small Cell</description>
        <name>LOBisSmallCell</name>
        <label>LOBisSmallCell</label>
        <locationX>4516</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>SC_Case_Creation</targetReference>
        </connector>
        <inputAssignments>
            <field>Comments</field>
            <value>
                <elementReference>$Record.Source:EmailMessage.ToAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Line_of_Business__c</field>
            <value>
                <stringValue>Small Cell</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Setting status as Missing Details</description>
        <name>Missing_Details</name>
        <label>Missing Details</label>
        <locationX>2514</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Missing_Circuit_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>IsMissingDetails__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Missing Details</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Setting status as Missing Details</description>
        <name>Missing_GPON_ID</name>
        <label>Missing GPON ID</label>
        <locationX>3570</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>GPON_is_Missing</targetReference>
        </connector>
        <inputAssignments>
            <field>IsMissingDetails__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Missing Details</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>samplecheck</name>
        <label>samplecheck</label>
        <locationX>5044</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>GPON_available</targetReference>
        </connector>
        <inputAssignments>
            <field>Line_of_Business__c</field>
            <value>
                <stringValue>FTTH</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>1106</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>Get_Small_Cell_Escalation_Contacts</targetReference>
        </connector>
        <inputAssignments>
            <field>ActiveIP__c</field>
            <value>
                <stringValue>Cloud Extel</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assigned_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CECircle__c</field>
            <value>
                <elementReference>Get_Site_record.Circle_Name__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExtIPEmail__c</field>
            <value>
                <elementReference>GetSiteRecord.IPEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldEngineerEmail__c</field>
            <value>
                <elementReference>GetSiteRecord.Field_Engineer__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldEngineer__c</field>
            <value>
                <elementReference>GetSiteRecord.Field_Engineer__r.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>POPLat__c</field>
            <value>
                <elementReference>GetSiteRecord.POPLat__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>POPLong__c</field>
            <value>
                <elementReference>GetSiteRecord.POPLong__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>POPName__c</field>
            <value>
                <elementReference>GetSiteRecord.POPName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PassiveIP__c</field>
            <value>
                <elementReference>GetSiteRecord.IP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Raised_by_Customer__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServicingVendor__c</field>
            <value>
                <elementReference>GetSite.ServicingVendor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteAddress__c</field>
            <value>
                <elementReference>GetSiteRecord.sitetracker__Full_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteLatitude__c</field>
            <value>
                <elementReference>GetSiteRecord.sitetracker__Lat__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteLongitude__c</field>
            <value>
                <elementReference>GetSiteRecord.sitetracker__Long__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_ID__c</field>
            <value>
                <elementReference>GetSiteRecord.Site_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site__c</field>
            <value>
                <elementReference>GetSiteRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updating the site details on the case</description>
        <name>Update_Case_Details</name>
        <label>Update Case Details</label>
        <locationX>3042</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>FE_Alert_for_FTTP</targetReference>
        </connector>
        <inputAssignments>
            <field>Assigned_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CECircle__c</field>
            <value>
                <elementReference>GET_GPON.Circles__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CircleLookup__c</field>
            <value>
                <elementReference>GetFTTHImpactedComponents.Circle__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldEngineerEmail__c</field>
            <value>
                <elementReference>GetFTTHImpactedComponents.FieldEngineer__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldEngineerUser__c</field>
            <value>
                <elementReference>GetFTTHImpactedComponents.FieldEngineer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldEngineer__c</field>
            <value>
                <elementReference>GetFTTHImpactedComponents.FieldEngineer__r.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NOCContactEmail__c</field>
            <value>
                <elementReference>GET_GPON.NOCContactEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OMContactEmail__c</field>
            <value>
                <elementReference>GET_GPON.OMContactEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RSU__c</field>
            <value>
                <elementReference>GET_GPON.RSU__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteLatitude__c</field>
            <value>
                <elementReference>GET_GPON.Latitude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteLongitude__c</field>
            <value>
                <elementReference>GET_GPON.Longitude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Escalation_Matrix</name>
        <label>Update Case Escalation Matrix</label>
        <locationX>1986</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>FECustomerNotification</targetReference>
        </connector>
        <inputAssignments>
            <field>L2_Contact_Email__c</field>
            <value>
                <elementReference>GetOHFCEscalationContacts.Level2_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L3_Contact_Email__c</field>
            <value>
                <elementReference>GetOHFCEscalationContacts.Level3_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L4_Contact_Email__c</field>
            <value>
                <elementReference>GetOHFCEscalationContacts.Level4_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L5_Contact_Email__c</field>
            <value>
                <elementReference>GetOHFCEscalationContacts.Level5_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L6_Contact_Email__c</field>
            <value>
                <elementReference>GetOHFCEscalationContacts.Level6_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Escalation_Matrix_FTTH</name>
        <label>Update Case Escalation Matrix FTTH</label>
        <locationX>3042</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>FECustomerNotification</targetReference>
        </connector>
        <inputAssignments>
            <field>L2_Contact_Email__c</field>
            <value>
                <elementReference>Get_FTTH_Escalation_Contacts.Level2_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L3_Contact_Email__c</field>
            <value>
                <elementReference>Get_FTTH_Escalation_Contacts.Level3_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L4_Contact_Email__c</field>
            <value>
                <elementReference>Get_FTTH_Escalation_Contacts.Level4_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L5_Contact_Email__c</field>
            <value>
                <elementReference>Get_FTTH_Escalation_Contacts.Level5_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L6_Contact_Email__c</field>
            <value>
                <elementReference>Get_FTTH_Escalation_Contacts.Level6_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Escalation_Matrix_UG</name>
        <label>Update Case Escalation Matrix UG</label>
        <locationX>3834</locationX>
        <locationY>1403</locationY>
        <connector>
            <targetReference>FECustomerNotification</targetReference>
        </connector>
        <inputAssignments>
            <field>L2_Contact_Email__c</field>
            <value>
                <elementReference>Get_UG_Escalation_Contacts.Level2_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L3_Contact_Email__c</field>
            <value>
                <elementReference>Get_UG_Escalation_Contacts.Level3_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L4_Contact_Email__c</field>
            <value>
                <elementReference>Get_UG_Escalation_Contacts.Level4_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L5_Contact_Email__c</field>
            <value>
                <elementReference>Get_UG_Escalation_Contacts.Level5_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L6_Contact_Email__c</field>
            <value>
                <elementReference>Get_UG_Escalation_Contacts.Level6_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_With_ParentCase</name>
        <label>Update Case With ParentCase</label>
        <locationX>578</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>Get_Small_Cell_Escalation_Contacts</targetReference>
        </connector>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Get_Case_Records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updating site details on case with matching circuit id from site master data</description>
        <name>Update_site_details</name>
        <label>Update site details</label>
        <locationX>1986</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>FEAlert_for_OHFC</targetReference>
        </connector>
        <inputAssignments>
            <field>Assigned_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CECircle__c</field>
            <value>
                <elementReference>GetCircuitObject.Circle__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Circuit_ID__c</field>
            <value>
                <elementReference>GetCircuitObject.CircuitId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerCircuitId__c</field>
            <value>
                <elementReference>GetCircuitObject.CustomerCircuitId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldEngineerEmail__c</field>
            <value>
                <elementReference>GetCircuitObject.FieldEngineer__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldEngineerUser__c</field>
            <value>
                <elementReference>GetCircuitObject.FieldEngineer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldEngineer__c</field>
            <value>
                <elementReference>FE_FullName1_OHFC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Line_of_Business__c</field>
            <value>
                <stringValue>OHFC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NOCContactEmail__c</field>
            <value>
                <elementReference>GetCircuitObject.NOCContactEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OMContactEmail__c</field>
            <value>
                <elementReference>GetCircuitObject.OMContactEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PathName__c</field>
            <value>
                <elementReference>GetCircuitObject.LinkName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Raised_by_Customer__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RouteName__c</field>
            <value>
                <elementReference>GetCircuitObject.RouteName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteAddress__c</field>
            <value>
                <elementReference>GetCircuitObject.SiteAAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteLatitude__c</field>
            <value>
                <elementReference>GetCircuitObject.SiteALatitude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteLongitude__c</field>
            <value>
                <elementReference>GetCircuitObject.SiteALongitude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteZLatitude__c</field>
            <value>
                <elementReference>GetCircuitObject.SiteZLatitude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteZLongitude__c</field>
            <value>
                <elementReference>GetCircuitObject.SiteZLongitude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ZSiteAddress__c</field>
            <value>
                <elementReference>GetCircuitObject.SiteZAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Small_Cell_Case_Escalation_Matrix</name>
        <label>Update Small Cell Case Escalation Matrix</label>
        <locationX>710</locationX>
        <locationY>1811</locationY>
        <connector>
            <targetReference>IsCEPassiveIssue</targetReference>
        </connector>
        <inputAssignments>
            <field>L2_Contact_Email__c</field>
            <value>
                <elementReference>Get_Small_Cell_Escalation_Contacts.Level2_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L3_Contact_Email__c</field>
            <value>
                <elementReference>Get_Small_Cell_Escalation_Contacts.Level3_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L4_Contact_Email__c</field>
            <value>
                <elementReference>Get_Small_Cell_Escalation_Contacts.Level4_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L5_Contact_Email__c</field>
            <value>
                <elementReference>Get_Small_Cell_Escalation_Contacts.Level5_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L6_Contact_Email__c</field>
            <value>
                <elementReference>Get_Small_Cell_Escalation_Contacts.Level6_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_Closed_with_Excel_Comment</name>
        <label>Update Status Closed with Excel Comment</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>CloseReason__c</field>
            <value>
                <stringValue>Small Cell Email With Excel Attachment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateEmailSentFlag</name>
        <label>UpdateEmailSentFlag</label>
        <locationX>798</locationX>
        <locationY>2135</locationY>
        <connector>
            <targetReference>UpdateStatus1</targetReference>
        </connector>
        <inputAssignments>
            <field>EMail_Sent_to_Another_IP__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateStatus</name>
        <label>UpdateStatus</label>
        <locationX>1392</locationX>
        <locationY>1853</locationY>
        <connector>
            <targetReference>Missing_details_alert</targetReference>
        </connector>
        <inputAssignments>
            <field>CaseNumberKey__c</field>
            <value>
                <elementReference>$Record.CaseNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsMissingDetails__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Missing Details</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateStatus1</name>
        <label>UpdateStatus</label>
        <locationX>710</locationX>
        <locationY>2327</locationY>
        <connector>
            <targetReference>Check_FE_Null</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updating_Case</name>
        <label>Updating Case</label>
        <locationX>710</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Get_Case_Records</targetReference>
        </connector>
        <inputAssignments>
            <field>ActiveIP__c</field>
            <value>
                <stringValue>CloudExtel</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CECircle__c</field>
            <value>
                <elementReference>GetSite.Circle_Name__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExtIPEmail__c</field>
            <value>
                <elementReference>GetSite.IPEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldEngineerEmail__c</field>
            <value>
                <elementReference>GetSite.FieldEngineer__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldEngineerUser__c</field>
            <value>
                <elementReference>GetSite.FieldEngineer__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieldEngineer__c</field>
            <value>
                <elementReference>GetSite.FieldEngineer__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>POPLat__c</field>
            <value>
                <elementReference>GetSite.POPLat__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>POPLong__c</field>
            <value>
                <elementReference>GetSite.POPLong__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>POPName__c</field>
            <value>
                <elementReference>GetSite.POPName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PassiveIP__c</field>
            <value>
                <elementReference>GetSite.IP__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Raised_by_Customer__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServicingVendor__c</field>
            <value>
                <elementReference>GetSite.ServicingVendor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteAddress__c</field>
            <value>
                <elementReference>GetSite.sitetracker__Full_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteLatitude__c</field>
            <value>
                <elementReference>GetSite.sitetracker__Lat__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteLongitude__c</field>
            <value>
                <elementReference>GetSite.sitetracker__Long__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_ID__c</field>
            <value>
                <elementReference>GetSite.Site_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site__c</field>
            <value>
                <elementReference>GetSite.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1339</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckDuplicateStatus</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Case_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Issue</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Record_newChildCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>recordCollection_newChildCase</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Stores the count of records</description>
        <name>VarCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
