force-app/main/default/flows/MissingCaseNotification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_NOC_Alert_SCAirtel</name>
        <label>Copy 1 of NOC Alert SCAirtel</label>
        <locationX>50</locationX>
        <locationY>1490</locationY>
        <actionName>Case.CaseNotCreatedFor1HrToNOC</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>GetAirtelFTTH.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.CaseNotCreatedFor1HrToNOC</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>NOC_Alert_SCAirtel</name>
        <label>NOC Alert SCAirtel</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <actionName>Case.CaseNotCreatedFor1HrToNOC</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>GetAirtelFTTH</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>GetAirtelSmallCell.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.CaseNotCreatedFor1HrToNOC</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>NOC_Alert_SCVIL</name>
        <label>NOC Alert SCVIL</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <actionName>Case.CaseNotCreatedFor1HrToNOC</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>GetAirtelSmallCell</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>GetVILSmallCell.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.CaseNotCreatedFor1HrToNOC</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Copy_1_of_TimeAssign</name>
        <label>Copy 1 of TimeAssign</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>GetVILSmallCell.TimeDifferenceVariable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TimeDifferenceSmallCellVIL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SmallCellVIL1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_TimeAssign</name>
        <label>Copy 2 of TimeAssign</label>
        <locationX>182</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>GetAirtelFTTH.TimeDifferenceVariable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TimeDifferenceFTTHAirtel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TimeCheck</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TimeAssign</name>
        <label>TimeAssign</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>GetAirtelSmallCell.TimeDifferenceVariable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TimeDifferenceSmallCellAirtel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SmallCellAirtel</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>SmallCellAirtel</name>
        <label>SmallCellAirtel</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>GetAirtelFTTH</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_CaseCreatedBefore1Hr</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAirtelSmallCell.TimeDifferenceVariable__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>120.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NOC_Alert_SCAirtel</targetReference>
            </connector>
            <label>Copy 1 of CaseCreatedBefore1Hr</label>
        </rules>
    </decisions>
    <decisions>
        <name>SmallCellVIL1</name>
        <label>SmallCellVIL</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>GetAirtelSmallCell</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CaseCreatedBefore1Hr</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetVILSmallCell.TimeDifferenceVariable__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NOC_Alert_SCVIL</targetReference>
            </connector>
            <label>CaseCreatedBefore1Hr</label>
        </rules>
    </decisions>
    <decisions>
        <name>TimeCheck</name>
        <label>TimeCheck</label>
        <locationX>182</locationX>
        <locationY>1382</locationY>
        <defaultConnectorLabel>Case Created</defaultConnectorLabel>
        <rules>
            <name>SmallCellVIL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAirtelFTTH.TimeDifferenceVariable__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_NOC_Alert_SCAirtel</targetReference>
            </connector>
            <label>SmallCellVIL</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>LastCaseCreatedTime</name>
        <dataType>DateTime</dataType>
        <expression>{!GetVILSmallCell.CreatedDate}</expression>
    </formulas>
    <formulas>
        <name>TimeDifferenceFTTHAirtel</name>
        <dataType>Number</dataType>
        <expression>(NOW() - {!GetAirtelFTTH.CreatedDate})*24*60</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TimeDifferenceSmallCellAirtel</name>
        <dataType>Number</dataType>
        <expression>(NOW() - {!GetAirtelSmallCell.CreatedDate})*24*60</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TimeDifferenceSmallCellVIL</name>
        <dataType>Number</dataType>
        <expression>(NOW() - {!GetVILSmallCell.CreatedDate})*24*60</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>MissingCaseNotification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MissingCaseNotification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAirtelFTTH</name>
        <label>GetAirtelFTTH</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_TimeAssign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Line_of_Business__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FTTH</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>001C700000DkoBDIAZ</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAirtelSmallCell</name>
        <label>GetAirtelSmallCell</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TimeAssign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Line_of_Business__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Small Cell</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>001C700000DkoBDIAZ</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetVILSmallCell</name>
        <label>GetVILSmallCell</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_TimeAssign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Line_of_Business__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Small Cell</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>001S2000001MflbIAC</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetVILSmallCell</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
