force-app/main/default/flows/UpdateUserStoryName.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <constants>
        <name>UserStoryRecordTypeId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>012C70000004LNBIA2</stringValue>
        </value>
    </constants>
    <decisions>
        <name>UserStory</name>
        <label>Is User Story</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsUserStoryStep</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>UserStoryRecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateUserStoryName</targetReference>
            </connector>
            <label>Is User Story Step</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update User Story Name {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update User Story Name</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateUserStoryName</name>
        <label>Update User Story Name</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.WorkItemId__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UserStory</targetReference>
        </connector>
        <object>WorkItem__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
