force-app/main/default/flows/WorkItem_Owner_and_Assigned_to_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>OwnerOrAssignedToChanged</name>
        <label>OwnerOrAssignedToChanged</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>UpdateOwnerID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AssignedToChanged</defaultConnectorLabel>
        <rules>
            <name>OwnerChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateAssignedTo</targetReference>
            </connector>
            <label>OwnerChanged</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>WorkItem- Owner and Assigned to Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WorkItem- Owner and Assigned to Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateAssignedTo</name>
        <label>UpdateAssignedTo</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>AssignedTo__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOwnerID</name>
        <label>UpdateOwnerID</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.AssignedTo__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>OwnerOrAssignedToChanged</targetReference>
        </connector>
        <filterFormula>OR(AND(ISNEW(),ISNULL({!$Record.AssignedTo__c})),ISCHANGED({!$Record.AssignedTo__c}),ISCHANGED({!$Record.OwnerId}))</filterFormula>
        <object>WorkItem__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
